services:
  db:
    image: postgres:18
    volumes:
      - postgres_data:/var/lib/postgresql
    env_file:
      - .env
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U $${POSTGRES_USER} -d $${POSTGRES_DB}" ]
      interval: 5s
      timeout: 5s
      retries: 5
      start_period: 10s

  web:
    build: .
    volumes:
      - .:/app
      - /app/.venv
    ports:
      - "8000:8000"
    env_file:
      - .env
    depends_on:
      db:
        condition: service_healthy

  redis:
    image: redis:7-alpine
    volumes:
      - redis_data:/data
    ports:
      - "6379:6379"
    healthcheck:
      test: [ "CMD", "redis-cli", "ping" ]
      interval: 5s
      timeout: 3s
      retries: 5

  minio:
    image: minio/minio
    container_name: django_minio
    ports:
      - "9000:9000"
      - "9001:9001"
    env_file:
      - .env
    volumes:
      - minio_data:/data
    command: server /data --console-address ":9001"
    healthcheck:
      test: [ "CMD-SHELL", "mc ready local" ]
      interval: 5s
      timeout: 5s
      retries: 5

  celery_beat:
    build: .
    command: uv run celery -A core beat -l info
    volumes:
      - .:/app
      - /app/.venv
    env_file:
      - .env
    depends_on:
      - web

  celery_worker:
    build: .
    command: uv run celery -A core worker -l info -E
    volumes:
      - .:/app
      - /app/.venv
    env_file:
      - .env
    depends_on:
      - web
volumes:
  postgres_data:
  redis_data:
  minio_data:
