[run]
branch = True
source =
    apps
    settings

[report]
omit =
    */core/*
    */tests/*
    */manage.py
    */urls.py
    */models/*
    */services.py
    */services/*
    */migrations/*
    */tasks.py
    */common/*
